.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.logo {
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
}

.name {
  border-radius: 5px;
  backGround-color: #ffffffcc;
  text-transform: uppercase;
  h3 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #333;  
  }
}
